* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
  font-size: 1.4vw;
  border: none;
}

a {
  /* border: 0.1vw solid black; */
  border-radius: 0.5vw;
  padding: 0.5vw;
  color: rgb(160, 159, 159);
  text-decoration: none;
  font-size: 1.2vw;
  transition: all 0.4s ease;
}

a:hover {
  color: black;
}

ul {
  list-style: none;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 1vw;
  grid-template-columns: repeat(3, 1fr);
  align-self: center;
  justify-self: center;
}

li {
  align-self: center;
  justify-self: center;
}

button {
  margin-top: 2vw;
  margin-bottom: 1vw;
  padding: 0.5vw 1vw;
  background-color: none;
  color: blue;
  border-radius: 0.4vw;
  border: 0.1vw solid blue;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

button:hover {
  color: white;
  background-color: blue;
}

body {
  width: 80%;
  margin: auto;
}

/* header */
header {
  display: flex;
  border-bottom: 0.1vw solid black;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

#logo {
  flex: 1;
}

.bold {
  font-size: large;
}

#bio {
  color: blue;
}

#aid {
  color: red;
}

.nav-list {
  flex: 1;
  padding: 0px;
  margin: 0px;
}

#home,
#sign-in,
#sign-up {
  transition: all 0.5s ease;
}

#sign-up {
  font-weight: bold;
}

#home:hover,
#sign-in:hover,
#sign-up:hover {
  font-weight: bold;
}

/* header*/

main {
  border: 0.1vw solid;
  padding: 1vw;
}

main #logo {
  text-align: center;
}

main form {
  display: flex;
  flex-direction: column;
  padding: 1vw;
}

main form label {
  display: block;
  margin: 0.1vw;
}

main form input {
  width: 100%;
  border-bottom: 0.1vw solid black;
  margin: 0.1vw;
  padding: 0.6vw;
}

main form .space {
  margin-top: 1vw;
}

#alt {
  text-align: center;
}

#alt nav {
  margin-top: 1vw;
  margin-bottom: 1vw;
}
p {
  margin: 2vw;
}

main #term {
  text-align: center;
  color: red;
}

footer {
  margin-top: 2vw;
  text-align: center;
}

@media (min-width: 800px) {
  header #logo {
    margin-top: 9px;
  }

  header nav ul li {
    padding: 5px;
  }

  body {
    width: 500px;
  }
}

@media (max-width: 800px) {
    body{
        width: 300px;
    }
    *{
        padding: 1vw;
    }
}